*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background: rgb(226, 226, 226);

}
aside{
    background: rgb(230, 230, 230);
    max-width: 255px;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    border-right: 1px solid #ccc;
}
/* .todo_title{

}
.todo-item{
    position:  relative;
    top: 25px;
}
.todo-title{
    align-items: center ;
    text-align: center;
    padding: 20px 20px;
    font-size: 15px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.todo-title:hover{
    background-color: #ccc
} */
.headerline{
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 15px;
    align-items: center;
}
.header{
    background: rgb(226, 226, 226);
    padding: 1.0rem;
    position: fixed;
    top: 0;
    left: 255px;
    width: calc(100% - 255px);
    z-index: 10;
}
ul{
    padding: 30px 20px;
    padding-left: 10px;
    font-weight: bold;
}
li{
    /* text-align: center; */
    align-items: center;
    list-style: none;
}
.lists{
    position:  relative;
    top: 10px;
}
li .create_todo{
    font-size: 15px;
    align-items: center;
    /* margin-left: 15px; */
}
li .new_todo{
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
li .new_todo:hover{
    background-color: #ccc
}
li .todo-item{
    align-items: center;
    /* margin-left: 15px; */
}
li .todo-title{
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
li .todo-title:hover{
    background-color: #ccc;
}
.todo_tab{
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.todo_tab:hover{
    background-color: #ccc;
}
li .log_todo{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.login{
    background-color: black;
    padding: 10px;
    /* margin: 0px; */
    color: white;
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 226);
    width: 100px;
}
.signup{
    padding: 10px;
    /* margin: 0px; */
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 120px;
}
.logout{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    color: black;
}
.account_form{
    left: 150px;
    top: 0;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
